body{
 color: white;
 background: black;
 margin: 0px;
 font-family: "Afacad Flux", sans-serif;
}

header{
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color: rgb(254, 42, 68);
}

section {
    background: rgb(193, 19, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    msizeargin-right: 5%;
}

h1{
    font-size: 45px;
}

p{
    font-size: 20px;
}
